:root{
  --background: #1e1e2e;
  --link-bg: #313244;
  --text-color: #cdd6f4;
  --accent: #cba6f7;
  --search-border: #6c7086;
  --modal-bg: rgba(24, 24, 37, 0.8);
}
@font-face {
  src: url(./AdwaitaSans-Regular.ttf);
}

body{
  background: #1e1e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Adwaita Sans';
  color: var(--text-color);
}
#logo{
  width: 500px;
  height: 166px;
  cursor: pointer;
}
.link-img{
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.links{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; 
}
.links-wrap{
  display: flex;
  justify-content: center;
  width: 90vw;
}
.link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 12px 24px;
  border-radius: 12px;

  background: var(--link-bg);

  width: 50px;
}
.link:hover{
  border: 1px solid var(--accent); 
}
.link:active{
  background: var(--search-border);
}
.link h1{
  font-size: 12px;
  color: var(--text-color);
}
a{
  text-decoration: none !important;
  border: none !important;
}
.searchbar{
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--link-bg);
  padding: 5px;
  border-radius: 12px;
  gap: 10px;
  margin-top: 16px;
}
.searchbar input{
  width: 450px;
  height: 44px;
  background: var(--link-bg);
  border-radius: 12px;
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid var(--search-border);
}
.searchbar input:focus{
  border: 1px solid var(--accent)
}
.searchbar img{
  width: 50px;
  height: 50px;
}
#search{
  filter: invert(1);
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.modal-overlay{
  width: 100vw;
  height: 100vh;
  background: var(--modal-bg); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
}
.modal{
  width: 50%;
  height: 75%;
  background: var(--background);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.modal-header{
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  border-bottom: 1px solid var(--search-border);
}
.modal-header span{
  cursor: pointer;
}
.modal-content{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 12px;
}
.edit-block{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.editor{
  resize: none;
  height: 20vh;
  background: #181825;
  color: var(--text-color);
  padding: 6px;
}
.modal-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid var(--search-border);
  padding: 12px;
  margin-top: auto;
}
#apply{
  padding: 8px;
  background: var(--background);
  color: var(--text-color);
  border-radius: 4px;
  border: 1px solid var(--search-border);
  transition: 0.3s;
}
#apply:hover{
  border-color: var(--accent);
  background: var(--link-bg);
}
#apply:active{
  background: var(--search-border);
}


@media screen and (width < 490px) {
  #logo{
    width: 333px;
    height: 110px;
  }
  .link{
    padding: 12px 24px;
    width: 25px;
  }
  .link-img{
    width: 45px;
    height: 45px;
  }
  .searchbar{
    width: 333px;
  }
  .modal{
    width: 100%;
    height: 100%;
  }
  #apply{
    width: 100%;
  }
}
